<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal tweets</title>
</head>
<body>
<form action="" method="">
    <select name="type_of_searching">
        <option value="timeline">Search timeline for twitter user</option>
        <option value="friendlist">Search friendlist for twitter user</option>
        <option value="twitter_user">Search twitteruser for his name</option>
        <option value="last_popular">Search last popular tweets for hashtags</option>
    </select>
    <input type="text" name="tag_for_searching" placeholder="Input twitter name or id">
    <button>Ok</button>

</form>

    {% for item in timelines_from_req %}
    <p>
        <br>
        {{ item.text }}
        <br>
    </p>

    {% endfor %}


    {% for item in friendlist_from_req %}
    <p>
        <br>
        {{ item.name }}
        <br>
        {{ item.description }}
        <br>
    </p>

    {% endfor %}

    {% for item in list_twitter_users %}
    <p>
        <br>
<h2>Real name: </h2>{{ item.name }}
<h2>Name in twitter: </h2>{{ item.screen_name }}
        <br>
<h2>Description of account: </h2>{{ item.description }}
        <br>
<h2>Id of twitter account: </h2>{{ item.id_str }}

        <br>
    </p>
<form method="post">{% csrf_token %}


    <input type="hidden" name="account_name" value="{{ item.screen_name }}">
    <input type="hidden" name="account_id" value="{{ item.id_str }}">
    <input type="submit" value="Add to favourites">
</form>


    {% endfor %}

    {% for item in list_of_popular %}

    <br>
<h2>Real name: {{item.user.name}} </h2>
<h2>Name in twitter: {{item.user.screen_name}}</h2>
    <br>
<h2>Tweet text: </h2>{{ item.text }}
    <br>


    {% endfor %}

</body>
</html>