

{% block body %}
    <div class="row">
    {%for x in api.articles.results %}
    <div class="card" style="width: 18rem;">
    <img src="{{x.image}}" class="card-img-top" alt="{{x.source.uri}}">
         <div class="card-body">
         <h5 class="card-title">{{x.title}}</h5><p class="card-text">{{x.body|truncatechars:150}}</p>
         <a href="{{x.url}}" class="btn btn-primary">Go to the news</a>
         </div>
    </div>
    {%endfor%}
    </div>




{% endblock %}

<img src="{{x.image}}" width = 150 alt="{{x.source.uri}}">
        <div class="container">
        <h4><b>{{x.title}}</b></h4>
        <p>{{x.body|truncatechars:150}}</p>
            <a href="{{x.url}}" target="_blank" class="btn btn-primary">Read more</a>
        </div>