{% extends 'NewsApp/base.html' %}
     {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-6">
                    <h3 class="text-centre"> News from CNN Sport</h3>
                <br>
                    <img src="{{PrimaryImg}}" alt="Headline" width="520" height="320">
                    {% for n in CNNTitles %}
                        {% if "/" in n %}
                            <a href="{{n}}" target="_blank"><button type="button" class="btn btn-primary" >Read more</button> </a>
                            <hr>
                        {% else %}
                            <h4> {{n}}</h4>
                        {% endif %}

                    {% endfor %}
                    <br>
            </div>
            <div class="col-6">
                <h3 class="text-centre"> News from BBC Sport</h3>
                <br>
                {% for n in BBCTitles %}
                        {% if "/" in n %}
                            <a href="{{n}}" target="_blank"><button type="button" class="btn btn-primary" >Read more</button> </a>
                            <hr>
                        {% else %}
                            <h4> {{n}}</h4>
                        {% endif %}

                    {% endfor %}
                    <br>
            </div>
        </div>
    </div>

{% endblock %}
